<html lang="en">
{% load static %}
{% include "header.html" %}

<body>
{% include "form.html" %}

{% if show_table %}
    <div class="m-4">
        <h3>Results</h3>
        <div class="row mb-3">
            <table class="table table-striped table-hover table-bordered">
                <thead style="background-color: #576279; color: white;">
                <tr>
                    <th scope="col">Constrain</th>
                    <th scope="col">Message</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% include "location_visit_counts/component.html" %}
                {% include "budget/component.html" %}
                {% include "time/time_budget/component.html" %}
                {% include "time/inside_operating_hours/component.html" %}
                {% include "max_vertex_count_validator/component.html" %}
                {% include "sequence_of_desire/component.html" %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% include "footer.html" %}
</body>
</html>
