<table class="table">
    <thead>
    <tr>
        <th scope="col">Conflict</th>
        <th scope="col">E1</th>
        <th scope="col">E2</th>
        <th scope="col">E3</th>
        <th scope="col">E4</th>
        <th scope="col">E5</th>
        <th scope="col">E6</th>
        <th scope="col">E7</th>
        <th scope="col">E8</th>
        <th scope="col">E9</th>
        <th scope="col">E10</th>
    </tr>
    </thead>
    <tbody>
    {% if max_allowed_number_of_vertices_validation.is_validated %}
        <tr>
            <td colspan="7">
                <p class="text-success">
                    Max allowed number of vertices of type z was respected in these trips.
                </p>
            </td>
        </tr>
    {% else %}
        <tr>
            <td style="width: 20%">Max allowed sum of vertices</td>
            {% for max_allowed_vertice_for_type_z in max_allowed_number_of_vertices_validation.max_allowed_vertices_for_type_z %}
                <td>{{ max_allowed_vertice_for_type_z }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Sum of vertices</td>
            {% for sum_of_vertices in max_allowed_number_of_vertices_validation.sums_of_vertices %}
                <td class="text-danger">{{ sum_of_vertices }}</td>
            {% endfor %}
        </tr>
    {% endif %}
    </tbody>
</table>
