<table class="table">
    <thead>
        <tr>
            <th scope="col">Trip sequences</th>
        </tr>
    </thead>
    <tbody>
    {% for pattern_sequence in pattern_sequence_validation %}
        {% if not pattern_sequence %}
            <tr>
                <td>
                    <p class="text-success">
                        Pattern sequence was respected in this trip.
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="align-middle text-left">
                    <p class="text-danger">
                        {{ pattern_sequence.sequence_of_trip }} in this trip, the pattern sequence was not respected.
                    </p>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
