{% load static %}
<div class="m-4">
    <img src="{% static '/images/logo.png' %}" alt="Image couldn't be loaded." style="height: 125px">
    <form method="post" class="needs-validation" enctype="multipart/form-data" action="./validate" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-lg-6">
                <label for="inputInstance" class="form-label">Select input instance</label>
                <input class="form-control" type="file" name="input_instance" id="inputInstance" accept=".txt" required>
                <div class="invalid-feedback">
                    Please add an input instance.
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label for="solutionInstance" class="form-label">Select solution instance</label>
                <input class="form-control" type="file" name="solution_instance" id="solutionInstance" accept=".txt"
                       required>
                <div class="invalid-feedback">
                    Please add a solution instance.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">
            <i class="bi bi-upload"></i>
            Validate
        </button>
        <button type="button" class="btn btn-secondary mb-4" onclick="window.location.href='/index';">
            <i class="bi bi-backspace"></i>
            Clear
        </button>
    </form>
</div>
