{% load static %}
<div class="m-4">
    <img src="{% static '/images/logo.png' %}" class="text-center" alt="Image couldn't be loaded." style="width: 500px">
    <form method="post" class="needs-validation" enctype="multipart/form-data" action="./validate" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col me-3">
                <div class="row mb-3">
                    <div class="col">
                        <label for="inputInstance" class="form-label">Select the input instance</label>
                        <input class="form-control" type="file" name="input_instance" id="inputInstance" accept=".txt"
                               required>
                        <div class="invalid-feedback">
                            Please add an input instance.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="solutionInstance" class="form-label">Select the solution instance</label>
                        <input class="form-control" type="file" name="solution_instance" id="solutionInstance"
                               accept=".txt"
                               required>
                        <div class="invalid-feedback">
                            Please add a solution instance.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                Select the type with which the solution was generated
                <div class="form-check mt-2">
                    <input class="form-check-input" type="radio" name="type" id="type1" value="toptw" required>
                    <label class="form-check-label" for="type1">
                        TOPTW
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="type2" value="mctoptw" required>
                    <label class="form-check-label" for="type2">
                        MCTOPTW
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="type3" value="toptwp" required>
                    <label class="form-check-label" for="type3">
                        TOPTWP
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="type4" value="mctoptwp" required>
                    <label class="form-check-label" for="type4">
                        MCTOPTWP
                    </label>
                    <div class="invalid-feedback">Please select the type with which the solution was generated</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">
            <i class="bi bi-upload"></i>
            Validate
        </button>
        <button type="button" class="btn btn-secondary mb-4" onclick="window.location.href='/index';">
            <i class="bi bi-backspace"></i>
            Clear
        </button>
    </form>
</div>
