<table class="table">
    <thead>
    <tr>
        <th scope="col">Trip sequences</th>
        <th scope="col">POI1→POI2</th>
        <th scope="col">Time spend before this trip</th>
        <th scope="col">Distance time</th>
        <th scope="col">Time spend until now</th>
        <th scope="col">Opening - closing time of POI2</th>
        <th scope="col">Is POI2 closed?</th>
    </tr>
    </thead>
    <tbody>
    {% for item in time_validation %}
        {% if not item %}
            <tr>
                <td colspan="7">
                    <p class="text-success">
                        All locations were in their operating time, when they were visited.
                    </p>
                </td>
            </tr>
        {% else %}
            <tr
                    {% if item.is_validated %}
                        class="text-success"
                    {% else %}
                        class="text-danger"
                    {% endif %}
            >
                <td class="text-dark">{{ item.sequence_of_trip }}</td>
                <td>{{ item.location_one_id }}→{{ item.location_two_id }}</td>
                <td>{{ item.time_spend_before_trip|floatformat:2 }}</td>
                <td>{{ item.distance_between_locations|floatformat:2 }}</td>
                <td>{{ item.time_without_time_spend_at_second_location|floatformat:2 }}</td>
                <td>{{ item.opening_time_of_location_two }} - {{ item.closing_time_of_location_two }}</td>
                <td>
                    {% if item.location_closed %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
