{% for max_allowed_number_of_vertices_validation_for_one_trip in max_allowed_number_of_vertices_validation %}
    <table class="table">
        <tbody>
        <tr>
            <td rowspan="2" class="align-middle text-left"
                style="width: 20%">{{ max_allowed_number_of_vertices_validation_for_one_trip.sequence_of_trip }}</td>
            <td style="width: 20%">Max allowed sum of vertices</td>
            {% for max_allowed_vertice_for_type_z in max_allowed_number_of_vertices_validation_for_one_trip.max_allowed_vertices_for_type_z %}
                <td>{{ max_allowed_vertice_for_type_z }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Sum of vertices</td>
            {% for sum_of_vertices in max_allowed_number_of_vertices_validation_for_one_trip.sums_of_vertices %}
                <td class="text-danger">{{ sum_of_vertices }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endfor %}
