<table class="table">
    <thead>
    <tr>
        <th scope="col">Trip sequences</th>
        <th scope="col">POI1→POI2</th>
        <th scope="col">Time spend before this trip</th>
        <th scope="col">Distance time</th>
        <th scope="col">Waiting time before POI2 is opened</th>
        <th scope="col">Time spend at POI2</th>
        <th scope="col">Time spend after this trip</th>
        <th scope="col">Max time</th>
    </tr>
    </thead>
    <tbody>
    {% for item in time_validation %}
        {% if not item %}
            <tr>
                <td colspan="8">
                    <p class="text-success">
                        All visits were done inside max time margin.
                    </p>
                </td>
            </tr>
        {% else %}
            <tr
                    {% if item.is_validated %}
                        class="text-success"
                    {% else %}
                        class="text-danger"
                    {% endif %}
            >
                <td class="text-dark">{{ item.sequence_of_trip }}</td>
                <td>{{ item.location_one_id }}→{{ item.location_two_id }}</td>
                <td>{{ item.time_spend_before_trip|floatformat:2 }}</td>
                <td>{{ item.distance_between_locations|floatformat:2 }}</td>
                <td>{{ item.waiting_before_opening|floatformat:2 }}</td>
                <td>{{ item.time_spend_at_location }}</td>
                <td>{{ item.time_spend_after_trip|floatformat:2 }}</td>
                <td>{{ item.max_time|floatformat:2 }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
